body{
    margin: 0;    
    background-color: darkgrey;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #333;
    color: #fff;
    border-bottom: solid 5px black;
    height: 100px;    
    width: 100%;
}

.logo img{
    width: 80px;
    margin-left: 10%;
}

.titulo{
    margin-left: 40%;
}

.rodape{
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #333;
    color: #fff;
    border-top: solid 5px black;   
    font-size:10pt;    
    font-weight:bold;
    width:100%;
    height: 50px;     
    position:absolute;
    bottom:0px;   
    justify-content: space-between;       
}

.rodape ul{
    list-style: none;   
    display: flex;
    margin-right: 10px;
    margin-left: 0px;
}

.rodape a {
    text-decoration: none;
    color: #eee;       
}

.ajuda li{
   padding: 10px;
}

.navRodape li{
    padding: 15px;
}

.principal{
    display: flex;
    flex-direction: column;
}

.menuLateral{
    display: grid;    
    grid-template-rows: 500px;
    grid-template-columns: 20% ;
}
.menuLateral ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border-right: solid 4px black; 
}

.menuLateral li{
    border-bottom: solid 3px black;
    padding: 20px;
}

.menuLateral a{
    text-decoration: none;
}

.texto1{
    display: flex;
    flex-direction: column;
    margin-left: 22%;
    position: absolute;    
}

@media screen and (orientation: portrait) { 
    
    .titulo{
        margin-left: 30%;
    }

    .principal{
        display: flex;
        flex-direction: row;       
    }

    .menuLateral{        
        display: flex;        
    }

    .menuLateral ul {
        display: flex;       
        flex-direction: row;
        list-style: none;        
        border-right: solid 0px black; 
        border-top: solid 3px black;
        font-size:9pt;    
        font-weight:bold;
        width:100%;
        position:absolute;
        bottom:8%;   
        justify-content: space-between;        
    }
    
    .menuLateral li{
        border-bottom: solid 0px black;
        border-right: solid 2px black;
        flex-grow: 1;
    }

    .texto1{
        display: flex;
        flex-direction: column;
        margin-left: 4%;
        position: absolute;
        
    }
}
    
    


