*{
    padding: 0;
    margin: 0;
}

header{
    border-bottom:solid 4px black;
    background-color: rgb(77, 0, 77);
    height: 50px;
}

body{    
    text-align: center;
    background-color: rgb(65, 64, 64);
    color: white;
}


table{
    margin: auto;
    margin-top: 8%;
    text-align: center;
    font-size: 5vh;
}

 tr{
     display: flex;   
     height: 100px;
     flex-direction: row;
}        

.top{     
   
    background-color: blue;   
    width: 200px;  
    margin-left: 200px;
    
}

.medium{
    background-color: red; 
    width: 400px;          
    margin-left: 100px;
}

.bot{
    background-color: green;
    width: 600px;            
}
