*{
    margin: 0;
    padding: 0;
}

header{
    border-bottom:solid 4px black;
    background-color: rgb(77, 0, 77);
    height: 50px;
}

body{
    background-color: rgb(65, 64, 64);
    text-align: center;
}

.titulo{
    color: white;
}

.tabelaLivro table, th, td{
    color: white;
    border: 1px solid white;
    margin-top: 8%;
    
}

.tabelaLivro table{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.tabelaLivro td:nth-child(1) {
    text-align: left;
    background-color: purple;
}

.tabelaLivro td:nth-child(2) {
    text-align: left;
    background-color: goldenrod;
}

.tabelaLivro td:nth-child(3) {
    text-align: left;
    background-color: crimson;
}

.tabelaLivro td:nth-child(4) {
	text-align: right;
    background-color: dimgrey;
}






