body{
    background-color: rgb(65, 64, 64);
    text-align: center;
    color: white;
    
}

.elemento{
    display: flex;
    margin: auto;   
    margin-top: 10%; 
    width: 500px;
    height: 500px;
    background-color: red;
    transition: all .5s ease-in-out;

}

.elemento:hover{
    background-color: purple;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
}

