body{
    margin: 0;    
    background-color: darkgrey;
}

h1{
    text-align: center;
}

.galeriaImagens{
    display: flex;
    justify-content: space-between;
    
}

.galeriaImagens div{    
    background-color: blue;
    border: solid 3px black;    
    height: 100px;
    width: 100px;
}